/* Video 1 */
.c-1 {margin: 13% 0 0 14%;width: 8%;height: 13%;}
.a-1 {margin: 7% 0 0 19%;} 
.c-2 { margin: 15% 0 0 47%; }
.a-2 {margin: 6% 0 0 20%;} 

.c-3,
.c-4,
.c-5,
.c-6,
.c-7 { border-color: red; display: none; }

.c-3 {margin: 10.5% 0 0 14%;width: 12%;height: 22%; cursor: pointer;}

.a-3,
.a-4,
.a-5,
.a-6,
.a-7  {margin: 29.5% 0 0 18%;}


/* 
*	Hazard 
*/
.c-3.cv_move { animation-duration: 5.5s; animation-name: cv_move; margin: 10.5% 0 0 14%;width: 12%;height: 22%;display: block; opacity: 0; }
@-webkit-keyframes cv_move { 
	0% { margin: 10.5% 0 0 14%; } 
	20% { margin: 10.5% 0 0 17.5%; } 
	40% { margin: 10.5% 0 0 21%; width: 13%; height: 23%; }
	60% { margin: 11.5% 0 0 25%; width: 13%; height: 23%; }
	80% { margin:11.5% 0 0 29%; width: 13%; height: 23%; }
	100% { margin: 12% 0 0 32%; width: 14%; height: 26%; } 
}


/* 
*	End Hazard 
*/




