/* Video 4 */
.c-1 {margin: 24.6% 0 0 49.4%;}
.a-1 {margin: 2% 0 0 13%;width: 65%;} 

.c-2 {margin: 19.5% 0 0 30.4%;width: 35%;}
.a-2 {margin: 2% 0 0 8%;width: 65%;} 


.c-3 {margin: 18.5% 0 0 28.4%;}
.a-3 {margin: 2% 0 0 8%;width: 65%;} 


.c-4 {margin: 25.5% 0 0 28.4%;}
.a-4 {margin: 2% 0 0 8%;width: 65%;} 

.c-9 {margin: 20.5% 0 -23px 29.4%;}
.a-9 {margin: 4% 0 0 8%;width: 65%;} 


.c-5,
.c-6,
.c-7,
.c-8,
.c-10 { border-color: red; display: none;}

.a-5,
.a-6,
.a-7,
.a-8,
.a-10{ margin: 34.5% 0 0px 9%; width: 80%; } 


.c-5 {margin: 23% 0 0 38%;width: 11%;height: 20%;cursor: pointer;display: none;opacity: 0;}

/* 
*	Hazard 
*/
.c-5.cv_move { animation-duration: 9s; animation-name: cv_move;margin: 23% 0 0 38%;width: 11%;height: 20%;display: block; opacity:0; }
@-webkit-keyframes cv_move { 
	0% { margin: 23% 0 0 38%;width: 11%;height: 20%; }
	15% { margin: 22% 0 0 37%;width: 13%;height: 23% }
	55% { margin: 22% 0 0 37%;width: 15%;height: 27%; } 
	100% { margin: 22% 0 0 37%;width: 16%;height: 28% } 
}

