/* Video 13 */
.c-1 {margin: 12.6% 0 0 37.4%;}
.a-1 {margin: 2% 0 0 11%;width: 75%;} 

.c-2 {margin: 18.6% 0 0 31%;}
.a-2 {margin: 2% 0 0 11%;width: 75%;}  

.c-8 {margin: 14% 0 0 60%;}
.a-8 {margin: 2% 0 0 11%;width: 75%;}  

.c-9 {margin: 17% 0 0 49%;}
.a-9 {margin: 2% 0 0 11%;width: 75%;}  

.c-10 {margin: 17% 0 0 63%;}
.a-10 {margin: 2% 0 0 11%;width: 75%;}  

.c-3,
.c-4,
.c-5,
.c-6,
.c-7 { border-color: red; display: none;}

.a-3,
.a-4,
.a-5,
.a-6,
.a-7 {margin: 26.5% 0 0px 9%; width: 80%;} 

.c-3 {margin: 18.6% 0 0 39%;width: 6%;height: 10%;cursor: pointer;display: none;opacity: 0;}

/* 
*	Hazard 
*/
.c-3.cv_move { animation-duration: 9s; animation-name: cv_move;margin: 18.6% 0 0 39%;width: 6%;height: 10%;display: block; opacity:0; }
@-webkit-keyframes cv_move { 
	0% { margin:  18.6% 0 0 39%; }
	15% { margin: 18.6% 0 0 38%; }
	30% { margin: 18.6% 0 0 38%;width: 7%;height: 12%; }
	60% { margin: 18.6% 0 0 37%; width: 7%;height: 12%; }
	80% { margin: 17.6% 0 0 31%;width: 10%;height: 18%; }
	100% { margin: 17.6% 0 0 31%;width: 10%;height: 18%; }
}
