/* Video 1 */
.c-1 { margin: 19.5% 0 0 44%; width: 12%; height: 20%;}
.a-1 { margin: 2% 0 0 19%; } 
.c-2 { margin: 15% 0 0 47%%; }
.a-2 { margin: 2% 0 0 19% } 
.c-3 { margin: 15.9% 0 0 64.3%; }
.a-3 { margin: 2% 0 0 22%;} 

.c-4,
.c-5,
.c-6,
.c-7,
.c-8 { border-color: red; display: none; }

.c-4 {margin: 15.5% 0 0 46%;width: 8%;height: 14%; cursor: pointer;}
.a-4 { margin: 30% 0 0 19%;} 


/* 
*	Hazard 
*/
.c-4.cv_move { animation-duration: 9.4s; animation-name: cv_move;  margin: 17.2% 0 0 49.2%; width: 5%; height: 9%; display: block; opacity: 0; }
@-webkit-keyframes cv_move { 
	0% { margin: 17.2% 0 0 49.2%; width: 5%; height: 9%; }
	20% { margin: 15.6% 0 0 47.6%; width: 7%; height: 13%; } 
	40% { margin: 14.6% 0 0 45.6%; width: 11%; height: 19%; }
	100% { margin: 13.6% 0 0 44.6%; width: 15%; height: 27%; } 
}


/* 
*	End Hazard 
*/

.a-5 {margin: 33.5% 0 0 20%;} 
.a-6 {margin: 33.7% 0 0 20%;} 
.a-7 {margin: 36.7% 0 0 22%;} 

.c-15 { margin: 6.5% 0 0 50%;}
.a-15 { margin: 2% 0 0 25%; }

.a-8 {margin: 39.7% 0 0 22%; } 

.c-9 { margin: 20% 0 0 48%; }
.a-9 { margin: 1% 0 0 20%; }

.c-10 {margin: 18.5% 0 0 15% ;}
.a-10 {margin: 1%; width: 40%; }

.c-11 {margin: 20.5% 0 0 26% ;} 
.a-11 {margin: 1% 0 0 2%; } 

.c-12 { margin: 14.9% 0 0 22%; }
.a-12 { margin: 1% 0 0 2%; width: 45% }

.c-13 { margin: 28% 0 0 38.5%; }
.a-13 { margin: 2% 0 0 15% } 



