/* Video 4 */
.c-1 {margin: 18.6% 0 0 34.4%;width: 21%;height: 38%;}
.a-1 {margin: 2% 0 0 7%;width: 75%;} 

.c-2 {margin: 19.5% 0 0 49.4%;width: 23%;height: 40%;}
.a-2 {margin: 2% 0 0 17%;width: 70%;} 

.c-3 {margin: 19.5% 0 0 17.4%;width: 20%;height: 35%;}
.a-3 {margin: 2% 0 0 8%;width: 75%;} 

.c-4,
.c-5,
.c-6,
.c-7,
.c-8 { border-color: red; display: none;}

.a-4,
.a-5,
.a-6,
.a-7,
.a-8 { margin: 34.5% 0 0px 9%; width: 80%; } 


.c-4 {margin: 22% 0 0 3%;width: 13%;height: 23%;cursor: pointer; display:  none; opacity: 0;}

/* 
*	Hazard 
*/
.c-4.cv_move { animation-duration: 4s; animation-name: cv_move;margin: 22% 0 0 3%;width: 13%;height: 23%;display: block; opacity:0; }
@-webkit-keyframes cv_move { 
	0% { margin: 22% 0 0 3%;width: 13%;height: 23%; }
	30% { margin: 17% 0 0 0%;width: 25%;height: 43%; }
	70% { margin: 11% 0 0 -2%;width: 37%;height: 67%; } 
	80% { margin: 9% 0 0 -3%;width: 40%;height: 74%; } 
	100% { margin: 5% 0 0 -1%;width: 47%;height: 85%; }
}
